pkgbase = ytdw
	pkgdesc = A simple python script to download mp3/mp4 files from the web using youtube-dl.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/JustCoww/ytdw
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = youtube-dl
	provides = ytdw
	conflicts = ytdw
	source = git+https://github.com/JustCoww/ytdw
	md5sums = SKIP

pkgname = ytdw
